</div>
<footer class="footer">
    <h4 class="footer-copyright">© Blue Pond</h4>
    <h5 class="footer-by">by Andreas Schmidt</h5>
</footer>
</div>
<script src="./js/main.js"></script>
</body>
</html>